.rvt-app {
    .am-tab-bar-item {
        // height: 100%
    }

    .am-tab-bar {
        position: fixed;
        bottom  : 0;
        width   : 100%;
        height  : 50px;
        z-index : 3000;
    }
}

.rvt-tabview {
    height: calc(100vh - 50px);
    height: calc(100vh - var(--vh-offset, 0px) -50px);
}